In [1]:
import pandas as pd
import numpy as np
import string
import re
user1 = pd.read_csv('D:\DATASETS/User1data.csv')
user1['Recommended'] 
user1.head()

   User_Id  Patient_Id   Symptom1     Symptom2     Recommended       Selected
0     1001           1  Sinusitis  Tonsillitis    Baihui(DU20)     BaihuiDU20
1     1001           1  Sinusitis  Tonsillitis    Dazhui(DU14)     DazhuiDU14
2     1001           1  Sinusitis  Tonsillitis       Hegu(LI4)        HeguLI4
3     1001           1  Sinusitis  Tonsillitis  Quanliao(SI18)      QuchiLI11
4     1001           1  Sinusitis  Tonsillitis     Quchi(LI11)  SanyinjiaoSP6

In [2]:
user1['Selected'] = user1['Selected'].astype(str)

In [3]:
y = []
for val in range(len(user1)) :
    data = user1.iloc[val,5]
    z = []
    for element in data:
        if str(element).isupper() == True:
            z.append(element)
            a = 1
        if str(element).isdigit() ==True and a ==1 :
            z.append(element)
    z=''.join(z)
    a=0
    y.append(z)

In [4]:
y

['BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'PUB20',
 'SR5',
 'SR9',
 'YSP9',
 '',
 '',
 'BDU20',
 'PUB20',
 'SR5',
 'SR9',
 'YSP9',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 'TSI17',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SR5',
 'SR9',
 'YSP9',
 '',
 '',
 '',
 'BDU20',
 'SR9',
 'YSP9',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'PUB20',
 'SR5',
 '',
 '',
 '',
 '',
 'BDU20',
 'PUB20',
 'SR9',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'LR23',
 'TSI17',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'LR23',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'NFLI18',
 'QLI11',
 'SSP6',
 'TR22',
 'TH5',
 'BDU20',
 'DDU14',
 'HLI4',
 'NFLI18',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'NFLI18',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'YSP9',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'NFLI18',
 'QLI11',
 'SSP6',
 'TR22',
 'TH5',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'NFLI18',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'NFLI18',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'YSP9',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'LR23',
 '',
 '',
 '',
 'BDU20',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SR5',
 'SR9',
 'YSP9',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'QLI11',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 'BDU20',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'HLI4',
 'TR22',
 'TH5',
 '',
 '',
 '',
 'BDU20',
 'NFLI18',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'NFLI18',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'YSP9',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'NFLI18',
 'SSP6',
 'TR22',
 'TH5',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'NFLI18',
 'TH5',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'YSP9',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'LR23',
 'TSI17',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'LR23',
 '',
 '',
 '',
 '',
 'BDU20',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'SR5',
 'SR9',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'QLI11',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'DDU14',
 'QLI11',
 'SSP6',
 '',
 '',
 '',
 '',
 '',
 '',
 'HLI4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'BDU20',
 'HLI4',
 'QLI11',
 '',
 '',
 '',
 '',
 '',
 '']

In [5]:
user1['Selected']=y

In [6]:
user1.head()

   User_Id  Patient_Id   Symptom1     Symptom2     Recommended Selected
0     1001           1  Sinusitis  Tonsillitis    Baihui(DU20)    BDU20
1     1001           1  Sinusitis  Tonsillitis    Dazhui(DU14)    DDU14
2     1001           1  Sinusitis  Tonsillitis       Hegu(LI4)     HLI4
3     1001           1  Sinusitis  Tonsillitis  Quanliao(SI18)    QLI11
4     1001           1  Sinusitis  Tonsillitis     Quchi(LI11)     SSP6

In [7]:
user1=user1['Recommended'].str.split('(').str[1]
user1=user1.str.split(')').str[0]
print(user1)

0       DU20
1       DU14
2        LI4
3       SI18
4       LI11
5        SP6
6       LU11
7       SI17
8       SP10
9       GB14
10      Ex.3
11      DU20
12      DU14
13       LI4
14       LU6
15      LI19
16      LI11
17       SP6
18      DU23
19      LU11
20      DU25
21      DU20
22      DU14
23       LI4
24       LU6
25     Ren23
26      LI19
27      LI11
28       SP6
29      DU23
       ...
916     SP10
917     DU20
918     DU14
919      LI4
920     LI18
921     LI11
922      SP6
923     LU11
924     SI17
925    Ren22
926       H5
927     DU20
928     DU14
929      LI4
930      LU6
931    Ren23
932     LI18
933     LI19
934     DU23
935     DU25
936      LU9
937     DU20
938     DU14
939      LI4
940    Ren23
941     LI11
942      SP6
943     LU11
944       K3
945     SI17
Name: Recommended, Length: 946, dtype: object

In [8]:
z

''

In [9]:
user1['Recommended'] = z

In [10]:
user1.head()

0    DU20
1    DU14
2     LI4
3    SI18
4    LI11
Name: Recommended, dtype: object

In [11]:
user1['Selected'] = y

In [12]:
user1.head()

0    DU20
1    DU14
2     LI4
3    SI18
4    LI11
Name: Recommended, dtype: object

0       DU20
1       DU14
2        LI4
3       SI18
4       LI11
5        SP6
6       LU11
7       SI17
8       SP10
9       GB14
10      Ex.3
11      DU20
12      DU14
13       LI4
14       LU6
15      LI19
16      LI11
17       SP6
18      DU23
19      LU11
20      DU25
21      DU20
22      DU14
23       LI4
24       LU6
25     Ren23
26      LI19
27      LI11
28       SP6
29      DU23
       ...
916     SP10
917     DU20
918     DU14
919      LI4
920     LI18
921     LI11
922      SP6
923     LU11
924     SI17
925    Ren22
926       H5
927     DU20
928     DU14
929      LI4
930      LU6
931    Ren23
932     LI18
933     LI19
934     DU23
935     DU25
936      LU9
937     DU20
938     DU14
939      LI4
940    Ren23
941     LI11
942      SP6
943     LU11
944       K3
945     SI17
Name: Recommended, Length: 946, dtype: object

0    DU20
1    DU14
2     LI4
3    SI18
4    LI11
Name: Recommended, dtype: object

In [24]:
import pandas as pd
import numpy as np
import string
import re
user2 = pd.read_csv('D:\DATASETS/User2data.csv')
user2['Recommended'] 
user2.head()

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1002,1,Cardiac_disorders,Heart_pain,BipayU.Ex.,BipayU.Ex.
1,1002,1,Cardiac_disorders,Heart_pain,HeguLI4,HeguLI4
2,1002,1,Cardiac_disorders,Heart_pain,JueyinshuUB14,JueyinshuUB14
3,1002,1,Cardiac_disorders,Heart_pain,NeiguanP6,NeiguanP6
4,1002,1,Cardiac_disorders,Heart_pain,RugenST18,RugenST18

In [25]:
user2['Selected'] = user2['Selected'].astype(str)

In [26]:
y = []
for val in range(len(user2)) :
    data = user2.iloc[val,5]
    z = []
    for element in data:
        if str(element).isupper() == True:
            z.append(element)
            a = 1
        if str(element).isdigit() ==True and a ==1 :
            z.append(element)
    z=''.join(z)
    a=0
    y.append(z)

In [20]:
user2['Selected']=y

In [27]:
user2.head()

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1002,1,Cardiac_disorders,Heart_pain,BipayU.Ex.,BipayU.Ex.
1,1002,1,Cardiac_disorders,Heart_pain,HeguLI4,HeguLI4
2,1002,1,Cardiac_disorders,Heart_pain,JueyinshuUB14,JueyinshuUB14
3,1002,1,Cardiac_disorders,Heart_pain,NeiguanP6,NeiguanP6
4,1002,1,Cardiac_disorders,Heart_pain,RugenST18,RugenST18

In [36]:
import pandas as pd
import numpy as np
import string
import re
user3 = pd.read_csv('D:\DATASETS/User3data.csv')
user3['Recommended'] 
user3.head()

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1003,1,Difficult_in_swallowing,Hiccup,BaihuiDU20,BaihuiDU20
1,1003,1,Difficult_in_swallowing,Hiccup,LiangmenST21,NeiguanP6
2,1003,1,Difficult_in_swallowing,Hiccup,NeiguanP6,ShanzhongRen17
3,1003,1,Difficult_in_swallowing,Hiccup,RenzhongDU26,ZhongwanRen12
4,1003,1,Difficult_in_swallowing,Hiccup,ShanzhongRen17,ZusanliST36

In [37]:
user3['Selected'] = user3['Selected'].astype(str)

In [38]:
y = []
for val in range(len(user3)) :
    data = user3.iloc[val,5]
    z = []
    for element in data:
        if str(element).isupper() == True:
            z.append(element)
            a = 1
        if str(element).isdigit() ==True and a ==1 :
            z.append(element)
    z=''.join(z)
    a=0
    y.append(z)

In [39]:
user3['Selected']=y

In [50]:
user3.head()

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1003,1,Difficult_in_swallowing,Hiccup,BaihuiDU20,BaihuiDU20
1,1003,1,Difficult_in_swallowing,Hiccup,LiangmenST21,NeiguanP6
2,1003,1,Difficult_in_swallowing,Hiccup,NeiguanP6,ShanzhongRen17
3,1003,1,Difficult_in_swallowing,Hiccup,RenzhongDU26,ZhongwanRen12
4,1003,1,Difficult_in_swallowing,Hiccup,ShanzhongRen17,ZusanliST36

In [41]:
import pandas as pd
import numpy as np
import string
import re
user4 = pd.read_csv('D:\DATASETS/User4data.csv')
user4['Recommended'] 
user4.head()

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1004,1,Intestinal_colic,Constipation,BaihuiDU20,BaihuiDU20
1,1004,1,Intestinal_colic,Constipation,HeguLI4,TianshuST25
2,1004,1,Intestinal_colic,Constipation,SanyinjiaoSP6,ZusanliST36
3,1004,1,Intestinal_colic,Constipation,TianshuST25,SanyinjiaoSP6
4,1004,1,Intestinal_colic,Constipation,ZhigouSJ6,ZhigouSJ6

In [42]:
user4['Selected'] = user4['Selected'].astype(str)

In [43]:
y = []
for val in range(len(user4)) :
    data = user4.iloc[val,5]
    z = []
    for element in data:
        if str(element).isupper() == True:
            z.append(element)
            a = 1
        if str(element).isdigit() ==True and a ==1 :
            z.append(element)
    z=''.join(z)
    a=0
    y.append(z)

In [45]:
user4['Selected']=y

user4.head()

   User_Id  Patient_Id          Symptom1      Symptom2    Recommended Selected
0     1004           1  Intestinal_colic  Constipation     BaihuiDU20    BDU20
1     1004           1  Intestinal_colic  Constipation        HeguLI4    TST25
2     1004           1  Intestinal_colic  Constipation  SanyinjiaoSP6    ZST36
3     1004           1  Intestinal_colic  Constipation    TianshuST25     SSP6
4     1004           1  Intestinal_colic  Constipation      ZhigouSJ6     ZSJ6

In [46]:
import pandas as pd
import numpy as np
import string
import re
user5 = pd.read_csv('D:\DATASETS/User5data.csv')
user5['Recommended'] 
user5.head()

   User_Id  Patient_Id   Symptom1     Symptom2   Recommended      Selected
0   1005.0           1  Sinusitis  Tonsillitis    BaihuiDU20    BaihuiDU20
1      NaN           1  Sinusitis  Tonsillitis    DazhuiDU14    DazhuiDU14
2      NaN           1  Sinusitis  Tonsillitis       HeguLI4       HeguLI4
3      NaN           1  Sinusitis  Tonsillitis  QuanliaoSI18     QuchiLI11
4      NaN           1  Sinusitis  Tonsillitis     QuchiLI11  TianrongSI17

In [47]:
user5['Selected'] = user5['Selected'].astype(str)

In [48]:
y = []
for val in range(len(user5)) :
    data = user5.iloc[val,5]
    z = []
    for element in data:
        if str(element).isupper() == True:
            z.append(element)
            a = 1
        if str(element).isdigit() ==True and a ==1 :
            z.append(element)
    z=''.join(z)
    a=0
    y.append(z)

In [49]:
user5['Selected']=y

user5.head()

   User_Id  Patient_Id   Symptom1     Symptom2   Recommended Selected
0   1005.0           1  Sinusitis  Tonsillitis    BaihuiDU20    BDU20
1      NaN           1  Sinusitis  Tonsillitis    DazhuiDU14    DDU14
2      NaN           1  Sinusitis  Tonsillitis       HeguLI4     HLI4
3      NaN           1  Sinusitis  Tonsillitis  QuanliaoSI18    QLI11
4      NaN           1  Sinusitis  Tonsillitis     QuchiLI11    TSI17